*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(burger.jpg);
    font-family:exo;
    background-size:100vw 100vh;
}

h1{
    font-family: Lacquer;
    font-size:3vw;
    color:whitesmoke;
    position:absolute;
    left:43vw;
    
}
.padre{
    background-color:#A4DBB1;
    width:20vw;
    height:100vh;
    float:left;
    top:0;
}

a{
    text-decoration: none;
    color:black;

}
a:hover{
    font-weight:900;
    color:darkgreen;
    text-decoration:underline;


}
main{
    padding-top:20vh;
}

main p{
   background-color:rgba(140, 135, 135, 0.7);
   font-size:1.2vw;
   font-weight: bold;
   text-align: justify;
   border-radius:10px;
   width:55vw;
   height:15vw;
   margin-top:20vh;
   padding:2vh;
   line-height:3.6vh;
   position:absolute;
   left:40vw;
   
}
.boton{
    z-index: 1;
}
.boton span{
    background-color:orange;
    border-radius: 3px;
    width: 2vw;
    height: 0.5vw;
    display:block;
    z-index:5;
    margin-top: 0.5vh;
    position: relative;
    left:2vw;
    bottom:1vw;
       

}

ul li{
    margin:3vh;
    font-size:1.3vw;
    list-style: none;
}

input[type="checkbox"]{
    margin-top:1.5vw;
    margin-left:1.5vw;
    position: relative;
    top:3vh;
    right:1.5vw;
    width:6vw;
    height:6vh;
    z-index: 10;
    
    
}
input[type="checkbox"]:checked ~ .padre{
    background-color: lightpink;
    
}
